.board {
    min-height: 500px; /*important*/
    /*height: 100%;*/

    position:relative;
    overflow:auto;
    width:500px;
    height:500px;
    background-image: url('../images/board3.jpg');
    background-size: 100% 100%;
}

.board .boardOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #505050;
    z-index: 100;
    opacity: 0.6;
}

.board table {
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */

    background-image: url("../images/board2.jpg");
    background-size: 100% 100%;


    width:92%;/*this is kind of perversed??*/
    height:92%;
    margin-left:4%;
    margin-top:4%;
    empty-cells: show;
}



.board td >div img{
    width:75%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    webkit-box-sizing: content-box;/*width/height refer to content only (border can be added without shrinking content)*/
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}




.board td > div{

    position:relative;
    width: 100%;
    height: 100%;

    /*display: flex;
    justify-content: center;
    align-items: center;*/

    display: table;/*otherwise div height==0 in mozilla o_o*/
}

.pickedChecker {
    border-color: #FFEB3B;
    border-width: 3px;
    border-style: solid;
}

.killedItem{
    opacity: 0.5;
}